<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>GestionSalleWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
 	<servlet>
	    <servlet-name>loginServlet</servlet-name>
	    <servlet-class>web.loginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>loginServlet</servlet-name>
	    <url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>ServletAjoutFiliere</servlet-name>
	    <servlet-class>web.ServletAjoutFiliere</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletAjoutFiliere</servlet-name>
	    <url-pattern>/ServletAjoutFiliere</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>ServletEmploi</servlet-name>
	    <servlet-class>web.ServletEmploi</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ServletEmploi</servlet-name>
	    <url-pattern>/ServletEmploi</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>SalleServlet</servlet-name>
	    <servlet-class>web.SalleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>SalleServlet</servlet-name>
	    <url-pattern>/SalleServlet</url-pattern>
	</servlet-mapping>

</web-app>



